# Archivos de registro y diagnóstico
# Ignora archivos de registro (logs) y reportes de diagnóstico.
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Datos de tiempo de ejecución
# Archivos temporales generados durante la ejecución de la aplicación.
pids
*.pid
*.seed
*.pid.lock

# Directorios de dependencias
# Estos directorios contienen las dependencias del proyecto.
# Se pueden regenerar usando los gestores de paquetes (npm, bower, jspm).
node_modules/
bower_components/
jspm_packages/
web_modules/ # Para Snowpack

# Reportes de cobertura de pruebas (Test Coverage)
# Generados por herramientas como istanbul, jscoverage, etc.
lib-cov
coverage
*.lcov
.nyc_output

# Archivos de caché
# Archivos de caché generados por diversas herramientas para mejorar el rendimiento.
.cache/
.parcel-cache/
.npm/
.eslintcache
.stylelintcache
*.tsbuildinfo
.firebase/
.fusebox/
# Cache de VuePress v2.x
.temp
# Cache de VitePress
**/.vitepress/cache
# Cache de Docusaurus
.docusaurus

# Variables de entorno
# Archivos que contienen variables de entorno y secretos.
# Se debe hacer commit de un archivo .env.example en su lugar.
.env
.env.*
!.env.example

# Salida de compilación (Build output)
# Directorios donde se guarda el código compilado o transpilado listo para producción.
dist/
out/ # Para Next.js
build/Release # Para addons binarios de Node.js
.next/ # Para Next.js
.nuxt/ # Para Nuxt.js
.vuepress/dist/ # Para VuePress
.svelte-kit/ # Para SvelteKit
**/.vitepress/dist # Para VitePress

# Archivos específicos de herramientas y editores
.idx/ # Configuración del IDE IDX
.grunt/ # Almacenamiento intermedio de Grunt
.lock-wscript # Configuración de node-waf
.node_repl_history # Historial del REPL de Node.js
.tern-port # Archivo de puerto de TernJS
.vscode-test/ # Versiones de VSCode para pruebas de extensiones
.dynamodb/ # Archivos locales de DynamoDB
.serverless/ # Directorios de Serverless Framework

# Salida de empaquetado y otros
*.tgz # Salida de 'npm pack'
.yarn-integrity # Archivo de integridad de Yarn

# Configuración de Yarn v2+ (Berry)
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Registros de Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
