<section id="about" class="py-5">
    <!-- About Section -->
    <h2 class="text-center mb-4">Sobre Mí</h2>
    <!-- Profile Image -->
    <img src="#" alt="Ronny H. Segura" class="img-fluid rounded-circle mb-3 profile-img mx-auto d-block">
    <!-- About Paragraph -->

    <p class="lead text-justify">
        ¡Hola! Soy Ronny H. Segura, un apasionado desarrollador Full Stack con una sólida base en
        ingeniería y una sed constante por aprender y crear. Mi viaje en el mundo de la tecnología
        comenzó con una fascinación por cómo las ideas se transforman en soluciones digitales
        tangibles.
    </p>

    <p class="lead text-justify">Graduado de la Escuela Politecnica del litoral - ESPOL. Me especializo en el desarrollo
        de software, con
        un enfoque particular en el desarrollo full stack. Tengo experiencia trabajando con diversas tecnologías
        y lenguajes de programación, tanto en el frontend como en el backend.</p>

    <p class="text-justify">
        A lo largo de mi carrera, he tenido la oportunidad de trabajar en una amplia gama de
        proyectos, lo que me ha permitido adquirir experiencia tanto en el front-end, creando
        interfaces de usuario intuitivas y atractivas con tecnologías como HTML, CSS, JavaScript,
        React y Angular, como en el back-end, construyendo arquitecturas robustas y eficientes con
        lenguajes y frameworks como Java, Spring Boot, Python, Django, Node.js y Express.js.
    </p>
    <p class="text-justify">
        Estoy siempre abierto a nuevas oportunidades y colaboraciones interesantes. Si tienes un
        proyecto en mente o simplemente quieres conectar, no dudes en contactarme. ¡Espero poder
        crear algo increíble juntos!
    </p>
    <!-- CV Download Button -->
    <div class="text-center mt-4 animate__animated animate__fadeInUp">
        <a href="/public/assets/pdf/CV_SeguraRonny.pdf" download class="btn btn-outline-primary">Descargar CV</a>
    </div>
</section>