<section id="contact" class="py-5 contact-section">
    <h2 class="text-center mb-4">Contacto</h2>
    <div class="row justify-content-center">
        <!-- Contact Form -->
        <div class="col-md-6 animate__animated animate__fadeInUp">
            <form>
                <div class="mb-3">
                    <label for="name" class="form-label">Nombre:</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Mensaje:</label>
                    <textarea class="form-control" id="message" name="message" rows="4" required></textarea>

                </div>
                <button type="submit" class="btn btn-primary w-100">Enviar Mensaje</button>
            </form>
            <div class="mt-4 text-center">
                <p><i class="fas fa-envelope me-2"></i> Email: <a
                        href="mailto:ronhuseg@espol.edu.ec">ronhuseg@espol.edu.ec</a></p>
                <p><i class="fas fa-phone me-2"></i> Teléfono: +593 987139315</p>
                <p><i class="fab fa-linkedin me-2"></i> LinkedIn: <a
                        href="https://www.linkedin.com/in/rohusemer/"
                        target="_blank">linkedin.com/in/rohusemer</a></p>
                <p><i class="fab fa-github me-2"></i> GitHub: <a href="https://github.com/rohusemer"
                        target="_blank">https://github.com/rohusemer</a></p>

            </div>
        </div>
    </div>
</section>