<section id="skills" class="py-5 bg-light">
    <h2 class="text-center mb-4">Habilidades</h2>
    <div class="row justify-content-center skills-list animate__animated animate__fadeInUp">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm skill-card">
                <div class="card-body">
                    <h3 class="card-title">Frontend</h3>
                    <p class="card-text">HTML, CSS, JavaScript, React, Vue.js, Bootstrap, Tailwind CSS</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm skill-card">
                <div class="card-body">
                    <h3 class="card-title">Backend</h3>
                    <p class="card-text">Node.js, Express, Python, Django, Ruby on Rails, PHP, Laravel</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm skill-card">
                <div class="card-body">
                    <h3 class="card-title">Bases de Datos</h3>
                    <p class="card-text">MongoDB, SQL, PostgreSQL, MySQL</p>
                </div>
            </div>
        </div>
    </div>
</section>