---
import Card from './Card.astro';
---
<section id="education" class="py-20 section-hidden">
    <h2 class="text-center text-4xl font-bold mb-12 text-primary">Educación</h2>
    <div class="relative container mx-auto px-4">
        <div class="absolute h-full border-l-2 border-primary left-1/2 transform -translate-x-1/2"></div>
        
        <!-- Timeline Item 1 -->
        <div class="mb-8 flex justify-between items-center w-full right-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-primary shadow-xl w-8 h-8 rounded-full"></div>
            <Card 
                title="INGENIERIA EN CIENCIAS DE LA COMPUTACION"
                description="Título, Escuela Superior Politécnica del Litoral. Ingeniero en ciencias computacionales."
            />
        </div>

        <!-- Timeline Item 2 -->
        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-primary shadow-xl w-8 h-8 rounded-full"></div>
            <Card 
                title="SQL Aplicado a las ciencias de datos"
                description="Curso, IBM"
            />
        </div>
        
        <!-- Timeline Item 3 -->
        <div class="mb-8 flex justify-between items-center w-full right-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-primary shadow-xl w-8 h-8 rounded-full"></div>
            <Card 
                title="CCNAv7: INTRODUCTION TO NETWORKS"
                description="Curso, CISCO"
            />
        </div>

        <!-- Timeline Item 4 -->
        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-primary shadow-xl w-8 h-8 rounded-full"></div>
            <Card 
                title="INTRODUCTION TO PACKET TRACER"
                description="Curso, CISCO"
            />
        </div>

         <!-- Timeline Item 5 -->
         <div class="mb-8 flex justify-between items-center w-full right-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-primary shadow-xl w-8 h-8 rounded-full"></div>
            <Card 
                title=".NET 5 ESSENTIAL"
                description="Curso, LinkedIn Learning"
            />
        </div>
    </div>
</section>
