<section id="location" class="py-12">
    <div class="container mx-auto px-4">
        <h2 class="text-4xl font-bold text-center mb-8">Mi Ubicación</h2>
        <div class="text-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3986.994320297034!2d-79.9658246852449!3d-2.147924698379434!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902d7336143c65c7%3A0x868625b295d1e434!2sESPOL!5e0!3m2!1ses-419!2sec!4v1626983428995!5m2!1ses-419!2sec"
                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</section>
