---
import Card from './Card.astro';
---
<section id="projects" class="py-20 section-hidden">
    <h2 class="text-center text-4xl font-bold mb-12 text-primary">Proyectos</h2>
    <div class="relative container mx-auto px-4">
        <div class="absolute h-full border-l-2 border-primary left-1/2 transform -translate-x-1/2"></div>
        
        <!-- Timeline Item 1 -->
        <div class="mb-8 flex justify-between items-center w-full right-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-primary shadow-xl w-8 h-8 rounded-full"></div>
            <Card 
                title="EXPLORA K5"
                description="Educación virtual para niños de 4 a 7 años."
                href="http://www.explora.espol.edu.ec/"
            />
        </div>

        <!-- Timeline Item 2 -->
        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-primary shadow-xl w-8 h-8 rounded-full"></div>
            <Card 
                title="Portafolio Personal"
                description="Este mismo portafolio, creado con Astro y Tailwind CSS."
            />
        </div>
    </div>
</section>
