---
import Card from './Card.astro';
---
<section id="skills" class="py-20 section-hidden">
    <h2 class="text-center text-4xl font-bold mb-12 text-primary">Habilidades</h2>
    <div class="relative container mx-auto px-4">
        <div class="absolute h-full border-l-2 border-primary left-1/2 transform -translate-x-1/2"></div>
        
        <!-- Timeline Item 1: Frontend -->
        <div class="mb-8 flex justify-between items-center w-full right-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-primary shadow-xl w-8 h-8 rounded-full"></div>
            <Card 
                title="Frontend"
                description="HTML, CSS, JavaScript, Astro, React, Vue.js, Bootstrap, Tailwind CSS"
            />
        </div>

        <!-- Timeline Item 2: Backend -->
        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-primary shadow-xl w-8 h-8 rounded-full"></div>
            <Card 
                title="Backend"
                description="Node.js, Express, Python, Django, Java, Spring Boot, PHP, Laravel"
            />
        </div>
        
        <!-- Timeline Item 3: Bases de Datos -->
        <div class="mb-8 flex justify-between items-center w-full right-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-primary shadow-xl w-8 h-8 rounded-full"></div>
            <Card 
                title="Bases de Datos"
                description="MongoDB, SQL, PostgreSQL, MySQL"
            />
        </div>

    </div>
</section>
