#about {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center; /* Centra el texto dentro de la sección */
}

#about .profile-img {
    border-radius: 50%; /* Hace la imagen circular */
    margin-bottom: 20px; /* Añade margen debajo de la imagen */
    display: block; /* Asegura que el margen se aplique correctamente */
    margin-left: auto; /* Centra la imagen */
    margin-right: auto; /* Centra la imagen */
}

#about p {
    text-align: justify; /* Mantiene el texto de los párrafos justificado si lo prefieres así */
    margin-bottom: 15px; /* Espacio entre párrafos */
}

#about .btn {
    margin-top: 20px; /* Espacio encima del botón */
}

/* Dark Mode Styles for About Section */
body.dark-mode #about {
    /* No se necesita cambiar el fondo si el fondo general ya es oscuro */
}

body.dark-mode #about h2 {
    color: var(--heading-color-dark);
}

body.dark-mode #about p {
    color: var(--text-color-dark); /* Asegura que el texto sea legible en fondo oscuro */
}
/* Puedes ajustar el borde o sombra de la imagen de perfil si es necesario */