/*==================== Variables ====================*/
:root {
    --primary-color: #007bff;
    /* Blue */
    --secondary-color: #6c757d;
    --background-color: #f8f9fa; /* Gris claro de ejemplo para fondo */
    --text-color: #343a40; /* Gris oscuro de ejemplo para texto */
    --heading-color: #1a202c; /* Color oscuro para encabezados */
    --white-color: #ffffff; /* Color blanco */
    --dark-color: #343a40; /* Color oscuro general */
    --background-color-light: #ffffff;
    --text-color-light: #343a40;
    --background-color-dark: #343a40;
    --text-color-dark: #f8f9fa;

    /* Colores Oscuros */
    --primary-color-dark: #bb86fc; /* Ejemplo de color primario oscuro */
    --secondary-color-dark: #03dac6; /* Ejemplo de color secundario oscuro */
    --background-color-dark: #121212; /* Fondo muy oscuro */
    --text-color-dark: #e0e0e0; /* Texto claro */
    --heading-color-dark: #ffffff; /* Encabezados blancos */
    --card-background-dark: #1e1e1e; /* Fondo de tarjetas oscuro */
    --card-shadow-dark: 0 4px 8px rgba(255, 255, 255, 0.1); /* Sombra clara */
}

/* Light Theme */
[data-theme="light"] {
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
    --card-background: var(--white-color); /* Usar white-color para el fondo de tarjeta claro */
}

/* Dark Theme */
[data-theme="dark"] {
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
    --card-background: var(--card-background-dark);
    --primary-color: var(--primary-color-dark);
    --secondary-color: var(--secondary-color-dark);
    --heading-color: var(--heading-color-dark);
}

/* Default theme is light */
[data-theme="light"] {
}